*{
   box-sizing: border-box;
}
body{
   margin: 0;
   font-family: 'Roboto', sans-serif;
   padding-top: 44px;
}
.main{
   background: linear-gradient(180deg, rgba(245,245,245, 0) 1.04%, #f5f5f5 100%);
}
.container{
   max-width: 1200px;
   margin: auto;
}
.header{
   display: flex;
   margin-bottom: 40px;
   align-items: center;
   justify-content: space-between;
}
.input{
   background-color: #fff;
   border: 1px solid #d9d9d9;
   border-radius: 2px;
   font-size: 16px;
   line-height: 24px;
   padding: 8px;
}
.address-input{
   flex: 0.8;
   background-image: url(../Images/home.svg);
   background-repeat: no-repeat;
   background-position: left 11px center;
   padding-left: 35px;
}
.buttons{
   display: flex;
   align-items: center;
}
.button{
   display: flex;
   align-items: center;
   padding: 8px 16px;
   background-color: #fff;
   border: 1px solid #d9d9d9;
   box-shadow: 0px 0px 2px rgba(0,0,0,0.0015);
   color: #595959;
   font-size: 16px;
   line-height: 24px;
}
.button-primary{
   background-color: #1890ff;
   border: 1px solid #1890ff;
   color: #fff;
   margin-right: 10px;
}
.button-icon{
   margin-right:5px;
   vertical-align: middle;
}
.button-card-text{
   margin-right: 10px;
}
.btn-card{
   margin-top: 10px;
   margin-right: 32px;
}
.nepromo{
   box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
   background-color: #fff1b8;
   background-image: url(../Images/promo-image.png);
   background-repeat: no-repeat;
   background-size: 924px;
   background-position: right -247px center;
   border-radius: 10px;
   padding: 68px 70px;
   margin-bottom: 56px;
}
.section-title{
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   color:#000;
   margin-right: 30px;
}
.nepromo-text{
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   margin: 0;
   color: #302c34;
   max-width: 538px;
}
.search-input{
   height: 40px;
   background-image: url(../Images/search.svg);
   background-repeat: no-repeat;
   background-position: left 11px center;
   padding-left: 35px;
   width: 300px;
   margin-left: auto;
}
.section-heading{
   display: flex;
   align-items: center;
}
.cards{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}
.card{
   background-color: #fff;
   box-shadow: 0px 4px 17px rgba(0,0,0,0.05);
   border-radius: 7px;
   overflow: hidden;
   margin-bottom: 30px;
   flex-basis: 32%;
   text-decoration: none;
}
.card-image{
   width: 384px;
   height: 250px;
   object-fit: cover;
}
.card-text{
   padding: 20px 23px 38px 23px;
}
.card-heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.card-title{
   margin: 0;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 32px;
}
.card-title-reg{
   font-weight: 400;
}
.card-tag{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 20px;
   background-color: #302c34;
   padding: 1px 8px;
   border-radius: 2px;
   color: #fff;
}
.card-info{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.card-price-bold{
   font-weight: bold;
   font-size: 20px;
   line-height: 32px;
}
.card-buttons{
   display: flex;
   align-items: center;
   margin-right: 32px;
}
.rating{
   margin-right: 20px;
   color: #ffc107;
   font-size: 18px;
   line-height: 32px;
   font-weight: bold;
}
.price, .category{
   color: #8c8c8c;
   font-size: 18px;
   line-height: 32px;
}
.price{
   margin-right: 10px;
}
.ingredients{
   color: #8c8c8c;
   font-size: 18px;
   line-height: 21px;
}
.category{
   text-emphasis: wrap;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   max-width: 150px;
}
.price:after{
   content:"";
   display: inline-block;
   vertical-align: middle;
   margin: 0;
   margin-left: 10px;
   background-color: #8c8c8c;
   width: 5px;
   height: 5px;
   border-radius: 50%;
}
.rating-star{
   margin-right: 5px;
}
.content{
   background: linear-gradient(to bottom, #fff 70%, #dadada);
}
.footer-block{
   padding: 60px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-link{
   display: inline-block;
   color: #595959;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
}
.footer-link:not(:last-child){
   margin-right: 15px;
}
.footer-nav{
   margin-right: auto;
   margin-left: 35px;
}
.social-links{
   display: flex;
   align-items: center;
}
.social-link:not(:last-child){
   margin-right: 21px;
}
.modal{
   display: none;
   position: fixed;
   top:0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.4);
}
.is-open{
   display: flex;
}
.modal-dialog{
   padding: 40px 45px;
   background-color: #fff;
   max-width: 780px;
   width: 95%;
   margin: auto;
}
.modal-title{
   margin: 0;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
}
.modal-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 45px;
}
.food-row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 8px;
   border-bottom: 1px solid #d9d9d9;
}
.food-price{
   margin-left: auto;
   margin-right: 47px;
   font-weight: bold;
   font-size: 20px;
   line-height: 32px;
   margin-bottom: 15px;
}
.food-counter{
   display: flex;
   align-items: center;
}
.counter{
   line-height: 24px;
   margin-left: 10px;
   margin-right: 10px;
}
.counter-button{
   width: 39px;
   height: 32px;
   background-color: #fff;
   border: 1px solid #40a9ff;
   border-radius: 2px;
   font-weight: normal;
   font-size: 14px;
   line-height: 22px;
   color: #40a9ff;
}
.close{
   font-size: 36px;
   border: none;
   background-color: transparent;
}
.modal-body{
   margin-bottom: 52px;
}
.modal-footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.footer-buttons{
   display: flex;
   align-items: center;
}
.modal-price-tag{
   background-color: #262626;
   border-radius: 5px;
   color: #fff;
   padding: 15px 20px;
   font-size: 20px;
   line-height: 23px;
}

@media(max-width: 1366px){
   .container{
      max-width: 960px;
   }
   .rating{
      margin-right: 15px;
   }
   .nepromo{
      background-position: right -300px center;
      background-size: 750px;
   }
   .category, .price{
      font-size: 14px;
   }
}
@media(max-width:992px){
   .container{
      max-width: 750px;
   }
   .nepromo{
      padding: 50px;
      background-size: 500px;
      background-position: center right -200px;
   }
   .nepromo-text{
      font-size: 18px;
      max-width: 400px;
   }
   .card{
      flex-basis: 49%;
   }
   .footer-link{
      font-size: 16px;
   }
}
@media(max-width:768px){
   .container{
      max-width: 560px;
   }
   .card .rating{
      flex-basis: 100%;
   }
   .card-title{
      font-size: 18px;
   }
   .nepromo-title{
      font-size: 24px;
      line-height: 1.4;
   }
   .nepromo-text{
      margin-top: 0;
      font-size: 18px;
   }
   .nepromo{
      background-position: bottom 50px right -200px;
      background-size: 400px;
      padding: 40px;
   }
}
@media(max-width: 578px){
   .container{
      width: 90%;
   }
   .header{
      flex-wrap:wrap;
   }
   .address-input{
      margin-top: 20px;
      order:5;
      flex:1;
   }
   .nepromo{
      background-image: none;
   }
   .nepromo-title{
      margin-bottom: 10px;
   }
   .nepromo-text{
      width: 100%;
   }
   .section-title{
      font-size: 20px;
   }
   .card{
      flex-basis: 100%;
   }
   .card-image{
      width: 100%;
   }
   .footer-nav{
      order:0;
      margin-left: 0;
      margin-right: 0;
   }
   .footer-logo{
      margin-right: 15px;
      order:1;
   }
   .social-links{
      order:2;
   }
   .social-link:not(:last-child){
      margin-right: 15px;
   }
   .footer-block{
      padding: 30px 0;
   }
   .footer-block{
      align-items: flex-start;
   }
}
@media(max-width:480px){
   .button-text{
      display: none;
   }
   .button-icon{
      margin: 0;
   }
   .button{
      min-height: 30px;
   }
   .nepromo{
      padding: 20px;
      margin-bottom: 30px;
   }
   .section-heading{
      flex-wrap: wrap;
   }
   .search-input{
      margin-bottom: 30px;
   }
   .footer-block{
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
   }
   .footer-logo{
      order: 0;
   }
   .footer-nav{
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      justify-content: center;
   }
   .footer-link:not(:last-child){
      margin: 0;
   }
   .social-link:not(:last-child){
      margin-right: 21px;
   }
}